<div class="col-md-4">

</div>
<div class="col-md-8">
    <div class="row">
        <div class="input-group col-md-8" style="float: right">
            <input type="text" class="form-control" id="txtSearchTerm" placeholder="Search doctor by name"/>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="btnSearch">Search</button>
            </span>
        </div>
    </div>
    <div class="row">
        <h3 id="lblSearchTitle">Search results</h3>
        <div class="col-md-8" style="width:100%" id="cntSearchResult">

        </div>
    </div>
</div>